# build output
dist/

.vscode/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# Ignore automatic generated diagrams from D2
public/assets/d2/

