/* Thin */
@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Extra light */
@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraLightItalic.woff2")
    format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Light */
@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Normal */
@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Semi bold */
@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-SemiBoldItalic.woff2")
    format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Bold */

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/* Extra Bold */
@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraBoldItalic.woff2")
    format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

:root {
  --text-color: white;
  --text-color-light: #657b83;
  --link-color: #9ca0ed;
  --link-hover-color: #cccfff;
  --font-size-m: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrainsMono", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "JetBrainsMono", sans-serif;
}

ul {
  list-style: square;
}

a {
  text-decoration: none;
  color: var(--link-color);
  font-weight: bold;
}

a:hover {
  color: var(--link-hover-color);
}

/* Fix responsiveness issues */
.astro-code code {
  display: block;
  width: 0;
  font-size: 16px;
}
