/* Thin */
@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

/* Extra light */
@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraLightItalic.woff2")
    format("woff2");
  font-weight: 200;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

/* Normal */
@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

/* Semi bold */
@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-SemiBoldItalic.woff2")
    format("woff2");
  font-weight: 600;
  font-style: italic;
}

/* Bold */

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

/* Extra Bold */
@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraBoldItalic.woff2")
    format("woff2");
  font-weight: 800;
  font-style: italic;
}

:root {
  --base-color: #1d1f21;
  --text-color: white;
  --text-color-light: #657b83;
  --violet300: #9ca0ed;
  --violet100: #cccfff;
  --font-size-m: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrainsMono", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "JetBrainsMono", sans-serif;
}

ul {
  list-style: square inside none;
}

ol {
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: var(--violet100);
}

a:hover {
  color: var(--violet300);
}

/* nav */

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 0;
  gap: 10px;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  background-color: var(--text-color);
}

.nav-links {
  display: none;
  flex-direction: column;
}

.expanded {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (min-width: 636px) {
  .hamburger {
    display: none;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
  }
}

/* Posts */

.post-content {
  h1,
  h2,
  h3,
  h4 {
    margin-top: 1rem;
  }

  p {
    margin-top: 0.5rem;
  }

  li {
    margin-top: 0.5rem;
  }

  li > p {
    display: contents;
  }
}
