---
import type { BlogPost } from "../types/BlogPost.ts";
import PostCards from "@components/PostCards.astro";
import Layout from "@layouts/BaseLayout.astro";

const allPosts = Object.values(
  import.meta.glob<BlogPost>("../pages/posts/*.md", { eager: true }),
);

const pageTitle = "My Blog";
---

<Layout title={pageTitle}>
  <p>Here you can check my articles, enjoy!</p>
  <PostCards posts={allPosts} />
</Layout>
