---
import Layout from "@layouts/BaseLayout.astro";
import backgroundImage from "@assets/home-bg.jpg";
---

<Layout title="Home" backgroundImage={backgroundImage}>
  <p>
    Hi, I'm Victor Martinez. I'm a Mid Software Developer at Prima
    Assicurazzioni, an Italian motor insurance company which puts a lot of
    effort on maintaining a state-of-the-art software department. I am
    originally from Spain although now I am living in Italy.
  </p>

  <br />

  <p>
    I like to spend my time playing bass guitar, bouldering or staying home
    reading, nothing too exciting.
  </p>

  <br />

  <p>
    I've created this blog mainly for myself. I'd like to have a safe place
    where to write about my learnings on software development. I'm making it
    public because I hope that whatever I write might be useful to someone else
    :)
  </p>
</Layout>
