---
import Layout from "@layouts/BaseLayout.astro";
import backgroundImage from "../assets/background-mario.jpg";
---

<Layout title="Home" backgroundImage={backgroundImage}>
  <p>
    Hi, I'm Victor Martinez. I'm a Mid Software Developer at Prima
    Assicurazzioni, an Italian motor insurance company which puts a lot of
    effort on maintaining a state-of-the-art software department.
  </p>

  <br />

  <p>
    I currently live in Italy :) I like to spend my time playing bass guitar,
    bouldering or staying home reading, nothing too exciting. I've created this
    blog mainly for myself. I'd like to have a safe place where to write about
    my learnings on software development. I'm making it public because I hope
    that whatever I write might be useful to someone else :)
  </p>

  <br />

  <p>
    I've created this blog mainly for myself. I'd like to have a safe place
    where to write about my learnings on software development. I'm making it
    public because I hope that whatever I write might be useful to someone else
    :)
  </p>

  <br />

  <p>Find me:</p>

  <ul>
    <li>
      <a href="https://github.com/JasterV">Github</a>
    </li>
    <li><a href="https://linkedin.com/in/jaster-victor/">Linkedin</a></li>
  </ul>

  <br />
</Layout>

<style>
  h2 {
    margin-bottom: 1rem;
  }
</style>
