---
import Layout from "../layouts/BaseLayout.astro";

// Page variables
const pageTitle = "Hello there!";
---

<Layout title={pageTitle}>
  <p>
    I'm Victor Martinez, a Software Developer based in Italy with a passion for
    computers and solving problems with code. And this is my website :)
  </p>

  <br />

  <p>
    I am going to be posting content about my learnings on software design,
    programming principles, linux and new tools, stay tuned!
  </p>

  <br />

  <h2>Interests</h2>

  <ul>
    <li>
      Playing bass guitar (I love to go and play in Jam sessions, I'd say is one
      of my favourite things to do)
    </li>
    <li>
      Messing up with my linux machine and configure my programming environment
      (I use Nvim btw)
    </li>
    <li>Programming in Rust and static-typed languages in general</li>
  </ul>

  <br />

  <h2>Follow me!</h2>

  <ul>
    <li>
      <a href="https://github.com/JasterV">Github</a> (Check out my projects in here)
    </li>
    <li><a href="https://linkedin.com/in/jaster-victor/">Linkedin</a></li>
  </ul>

  <br />

  <h2>RSS Feed</h2>

  <p>
    Don't miss any updates from my <a href="/blog">Blog</a>. Check out my RSS
    Feed
    <a href="/rss.xml">here</a>.
  </p>
</Layout>

<style>
  h2 {
    margin-bottom: 1rem;
  }
</style>
