---
import type { BlogPost } from "../types/BlogPost.ts";

interface Props {
  post: BlogPost;
}

const { post } = Astro.props;
---

<article class="post-card">
  <time datetime={post.frontmatter.pubDate}>
    {post.frontmatter.pubDate.slice(0, 10)}
  </time>
  <h2>
    <a href={post.url} rel="bookmark">
      {post.frontmatter.title}
    </a>
  </h2>
</article>

<style>
  time {
    color: var(--text-color-light);
    padding-bottom: 1rem;
  }

  h2 {
    margin-bottom: 0.5rem;
  }

  .post-card {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    border: 1px solid var(--text-color);
    padding: 1rem;
  }

  a {
    text-decoration: none;
  }
</style>
