---
import { type CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import backgroundImage from "@assets/blog-bg.jpg";
import FormattedDate from "@components/FormattedDate.astro";
import { Image } from "astro:assets";

type Props = CollectionEntry<"blog">["data"];

const { title, pubDate, image } = Astro.props;
---

<BaseLayout backgroundImage={backgroundImage}>
  <article>
    <header>
      <Image src={image} width="90" alt="Header pic" />
      <div>
        <h1 class="post-title">{title}</h1>
        <div class="date">
          <FormattedDate date={pubDate} />
        </div>
      </div>
    </header>
    <main class="post-content">
      <slot />
    </main>
  </article>
</BaseLayout>

<style>
  header {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1rem;
    font-style: italic;
    padding-bottom: 1rem;
  }

  .post-title {
    font-size: 35px;
    padding-bottom: 0.5rem;
  }

  .date {
    color: var(--text-color-light);
  }

  .post-content {
    h1,
    h2,
    h3,
    h4 {
      margin-top: 2rem;
    }

    p {
      margin-top: 0.5rem;
    }

    li {
      margin-top: 0.5rem;
    }

    li > p {
      display: contents;
    }
  }
</style>
